<h1>New Inventory</h1>
<form method="post" action="/inventory/new">
    Title: <input type="text" name="title"><br>
    Count: <input type="number" name="count"><br>
    Description: <input type="text" name="desc"><br>
    Manufacturer: <input type="text" name="manufacturer"><br>

    <input type="submit">
</form>